@font-face {
    font-family: 'play';
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/play.woff2) format('woff2')
}

@font-face {
    font-family: 'Wittgenstein';
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Wittgenstein-Italic.woff2);
}

@font-face {
    font-family: 'Wittgenstein';
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Wittgenstein-Regular.woff2);
}
.header__logotitle {
    align-items: center;
    gap: 10px;
   }